* {
    padding: 0;
    margin: 0;
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: whitesmoke;
}

p {
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
}

/*utilities*/
.text-center {
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*header*/

header {
    background-color: white;
    color: black;
    text-align: center;
}

h1 {
    padding: 10px;
    text-shadow: 2px 2px gray;
}

h2 {
    padding: 10px;
    text-shadow: 2px 2px gray;
}

h3 {
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 2px gray;
    letter-spacing: 1px;
}

h4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*bio*/

/* list */
ul, ol {
    margin-left: 20px;
    padding: 10px;
    background-color: gray;
}

ul li {
    margin: 10px;
    background-color: antiquewhite;
    padding: 10px;
    border: 1px solid black;
}

ol.techs li {
    background-color: aquamarine;
    margin: 10px;
}

ol.projects{
    background-color: orange;
}

ol.projects li {
    background-color: yellow;
    color: black;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

li {
    margin: 10px;
}

/*assignment notes
text-shadow
letter-spacing
*/

